.Songs {
  display: flex;
  flex-wrap: wrap;
}
.Song {
  margin: 10px;
  padding: 5px;
}
#video-placeholder {
  text-align: center;
  opacity: 0.03;
}
.opacity1 {
  opacity: 1 !important;
}
.hide {
  display: none;
}
