.playerMargin {
  margin-top: 0;
  margin-bottom: 24px;
}
.center {
  text-align: center;
}
.hide {
  display: none;
}
.emptySpace {
  min-height: 8px;
}
.cloudPlayer {
  opacity: 0.04;
  transition: opacity 300ms ease;
}
.inputRange {
  width: 100%;
}
